.filter-container {
  display: flex;
  justify-content: left;
}

.filter-container__toggle-button {
  background-color: gray;
  margin-left: 10px;
  height: 30px;
  width: 30px;
}

.filter-container__toggle-button:hover {
  background-color: rgb(177, 174, 174);
}

.filter-container-closed {
  width: 100%;
  height: 30px;
}

.filter-container-open {
  width: 100%;
}

.filter-container-open__top {
  background: lightgreen;
  display: flex;
  min-height: 50px;
}

.filter-container-open__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightcoral;
  min-height: 50px;
}



