.content {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 400px;
}

.app-container {
  min-width: 200px;
}

.main-title {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container__more-matches {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
}

.main-container__matches {
  display: flex;
  flex-flow: wrap;
}

.match-box {
  width: 150px;
  margin: 10px;
}