input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.content {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 400px;
}

.app-container {
  min-width: 200px;
}

.main-title {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container__more-matches {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
}

.filter-container {
  display: flex;
  justify-content: left;
}

.filter-container__toggle-button {
  background-color: red;
  margin-left: 10px;
  height: 30px;
  width: 30px;
}

.filter-container-closed {
  background-color: blue;
  width: 100%;
  height: 30px;
}

.filter-container-open {
  position: relative;
  padding: 20px;
  width: 100%;
  height: 200px;
}

.filter-container-open .button-container {
  position: absolute;
  bottom: 0;
  margin-bottom: 2px;
  right: 45%;
}

.filter-container-open input {
  margin-left: 5px;
  border: none;
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.filter-container-open input:focus {
  margin-left: 5px;
  border: none;
  border-bottom: 3px solid lightblue;
  text-align: center;
  outline: none;
}


.main-container__matches {
  display: flex;
  flex-flow: wrap;
}

.match-box {
  width: 150px;
  margin: 10px;
}