.filter-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: red;
}

.filter-option label {
  margin-left: 5px;
}

.filter-option input {
  margin-left: 5px;
  width: 36px;
  border: none;
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.filter-option input:focus {
  margin-left: 5px;
  border: none;
  border-bottom: 3px solid lightblue;
  text-align: center;
  outline: none;
}